.idea/
/ex1.pdf
/ex1/lib/
/ex1/token.mat
/ex1/submit.m
/ex2.pdf
/ex2/lib/
/ex2/token.mat
/ex2/submit.m
/ex3.pdf
/ex3/lib/
/ex3/token.mat
/ex3/submit.m
/ex4.pdf
/ex4/lib/
/ex4/token.mat
/ex4/submit.m
/ex5.pdf
/ex5/lib/
/ex5/token.mat
/ex5/submit.m
/ex6.pdf
/ex6/lib/
/ex6/token.mat
/ex6/submit.m
/ex7.pdf
/ex7/lib/
/ex7/token.mat
/ex7/submit.m
/ex8.pdf
/ex8/lib/
/ex8/token.mat
/ex8/submit.m